---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import Button from "../components/Button.astro";
import Hero from "../components/Hero.astro";
import PostPreview from "../components/PostPreview.astro";
import ProjectPreview from "../components/ProjectPreview.astro";
import siteConfig from "../data/site-config";
import { sortItemsByDateDesc } from "../utils/data-utils";

const posts = (await getCollection("blog")).sort(sortItemsByDateDesc);
const featuredPosts = posts.filter(({ data }) => data.isFeatured);

const projects = (await getCollection("projects")).sort(sortItemsByDateDesc);
const featuredProjects = projects.filter(({ data }) => data.isFeatured);
---

<BaseLayout description={siteConfig.description} image={siteConfig.image}>
    <Hero />
    {
        featuredProjects?.length > 0 && (
            <div class="mb-16 sm:mb-24">
                <h2 class="mb-12 text-2xl font-semibold tracking-tight">
                    Projects
                </h2>
                <div class="grid lg:grid-cols-2 gap-6">
                    {featuredProjects.map((project) => (
                        <ProjectPreview project={project} headingLevel="h3" />
                    ))}
                </div>
                <div class="mt-12">
                    <Button href="/projects">View All Projects</Button>
                </div>
            </div>
        )
    }
    {
        featuredPosts?.length > 0 && (
            <div class="mb-16 sm:mb-24">
                <h2 class="mb-12 text-2xl font-semibold tracking-tight">
                    Posts
                </h2>
                <div class="grid lg:grid-cols-2 lg:gap-y-16 gap-10">
                    {featuredPosts.map((post) => (
                        <PostPreview post={post} headingLevel="h3" />
                    ))}
                </div>
                <div class="mt-12">
                    <Button href="/blog">View All Posts</Button>
                </div>
            </div>
        )
    }
</BaseLayout>
